In [36]:
# import major libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [37]:
# read dataset
dataset = pd.read_csv("BooksDatasetClean.csv")

In [38]:
# dataset.sample(n=20)

In [39]:
# replace NaN values with an empty string
dataset = dataset.fillna(" ")
dataset.head()

,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,Goat Brothers,"By Colton, Larry",,"History , General",Doubleday,8.79,January,1993
1,The Missing Person,"By Grumbach, Doris",,"Fiction , General",Putnam Pub Group,4.99,March,1981
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",,"Cooking , Reference",Workman Pub Co,4.99,September,1983
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",,,Natl Pr Books,4.99,April,1991
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",,,Amy Spangler,5.32,February,1997

In [46]:
# basic processing
import re

texts = []
for i in range(0, len(dataset)):
    text = re.sub('[^a-zA-Z]', ' ', dataset['Title'][i] + dataset['Description'][i])
    text = text.lower()
    text = text.split()
    text = ' '.join(text)
    texts.append(text)

In [50]:
# Train the model
from gensim.models import Word2Vec

sentences = [line.split() for line in texts]

In [52]:
w2v = Word2Vec(sentences, vector_size=100, window=5, workers=2, epochs=10, min_count=5)

In [54]:
words = list(w2v.wv.index_to_key)

In [74]:
# print(words)

print(w2v.wv.most_similar('cat'))

[('dog', 0.8138768672943115), ('kitten', 0.7469087839126587), ('pet', 0.6683300137519836), ('horse', 0.6415449976921082), ('puppy', 0.6287363767623901), ('mouse', 0.6273152828216553), ('dogs', 0.6266921162605286), ('bird', 0.624048113822937), ('stray', 0.6078345775604248), ('cats', 0.6046406030654907)]

In [75]:
# save the model
w2v.save("word2vec.model")